body {
	background: #6b775f;
	font: 12px "Helvetica", "Arial", sans-serif;
	margin: 30px;
	min-width: 720px;
}
a, img {
	border: none;
	text-decoration: none;
}
pre {
	font: inherit;
	margin: 0px;
}
ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
th {
	text-align: left;
}
h1, h2, h3 {
	margin: 0px;
}
label {
	display: block;
}
input, button {
	background: none;
	border: none;
	font: inherit;
	margin: 0px;
	outline: none;
	padding: 0px;
}
.unchanged {
	color: #998f76;
}
.positive {
	color: #2e7209;
}
.negative {
	color: #a31616;
}
.progress {
	border: 1px solid #000;
	height: 12px;
	opacity: 0.4;
}
.bar {
	background: #000;
	opacity: 0.6;
	height: 12px;
}
#github {
	position: fixed;
	opacity: 0.1;
	right: 5px;
	top: 5px;
}
#header {
	margin: 0px auto;
	overflow: hidden;
	width: 640px;
}
#header a {
	color: #d9c27e;
	padding: 8px 12px;
}
#header a:hover {
	color: #ebd594;
}
#logo {
	float: left;
	margin-left: 60px;
}
#skills {
	float: left;
	margin: 12px 0px 0px 28px;
}
#skills a:hover {
	background: #67735c;
}
#skills li {
	float: left;
	width: 120px;
}
#skills img {
	float: left;
	margin: -1px 8px -1px 0px;
}
#skills .arrow {
	border: 5px solid transparent;
	border-top-color: #565c51;
	display: block;
	margin-top: 5px;
	margin-left: 100px;
	position: absolute;
}
#skills .current {
	border: 1px solid #474d42;
	border-radius: 2px;
	float: left;
	width: 110px;
}
#skills .current:hover .arrow {
	border-top-color: #474d42;
}
#skills .list {
	background: #6b775f;
	box-shadow: 0px 1px rgba(0, 0, 0, 0.075);
	border: 1px solid #474d42;
	border-radius: 2px;
	margin-top: 36px;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	width: 360px;
	z-index: 1;
}
#skills .list a {
	display: block;
	border-radius: 2px;
}
#skills .list .active {
	opacity: 0.25;
}
#registration {
	float: left;
	margin-top: 21px;
	margin-left: 40px;
}
#contents {
	background: #b9a88c;
	box-shadow: 0px 1px rgba(0, 0, 0, 0.075);
	border-top: 1px solid rgba(255, 255, 255, 0.175);
	border-radius: 2px;
	margin: 20px auto 0px;
	overflow: hidden;
	padding: 40px 40px 35px;
	width: 560px;
}
#contents h2 {
	font-size: 22px;
	margin-bottom: 20px;
}
#error {
	text-align: center;
}
#browse h2 {
	margin-top: -10px;
	text-align: center;
}
#browse small {
	display: block;
	font-size: 11px;
	text-align: center;
	margin: -10px 0px 20px;
}
#date-switch {
	margin-top: 10px;
	position: absolute;
	width: 560px;
}
#date-switch a {
	color: #565c51;
}
#date-switch a:hover {
	color: #000;
}
#date-switch .next {
	float: right;
}
#highscore {
	margin: 0px auto;
	width: 520px;
}
#highscore a {
	color: #000;
}
#highscore a:hover {
	text-decoration: underline;
}
#highscore th,
#highscore td {
	padding: 4px;
	text-align: left;
}
#highscore th {
	cursor: pointer;
}
#highscore thead span {
	height: 4px;
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
	width: 8px;
}
#highscore thead .tablesorter-headerAsc span {
	background: url(../img/sort_asc.png) no-repeat;
}
#highscore thead .tablesorter-headerDesc span {
	background: url(../img/sort_desc.png) no-repeat;
}
#highscore .empty {
	padding-top: 20px;
	text-align: center;
}
#stats {
	color: #565c51;
	margin: 20px 25px 0px;
	text-align: center;
}
#stats p {
	margin: 0px;
}
#stats p + p {
	margin-top: 6px;
}
#register {
	margin: 0px auto -10px;
	width: 250px;
}
#register form {
	margin: 20px 0px;
}
#register input,
#register button {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	padding: 8px 12px;
}
#register input {
	box-shadow: inset 0px 1px rgba(0, 0, 0, 0.1);
	margin: 4px 0px;
	width: 140px;
}
#register button {
	box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	margin: 4px 0px;
}
#register button:hover {
	background: rgba(0, 0, 0, 0.02);
	cursor: pointer;
}
#register .error {
	color: #a31616;
}
#register .success {
	text-align: center;
}
#footer {
	color: #474d42;
	margin: 16px auto 60px;
	text-align: center;
	width: 640px;
}
#footer a {
	color: #d9c27e;
}
#footer a:hover {
	color: #ebd594;
}
#footer li {
	display: inline;
	margin: 0px 5px;
}
#footer .ogre {
	margin-top: 40px;
}
